.headerBar {
	background-color: #1c1c35;
	color: #ffffff;
	height: 50px;
	font-size: 20px;
	overflow: hidden;
}

.headerBar .logo {
	width: 200px;
	line-height: 50px;
	display: block;
	text-align: center;
	float: left;
}

.headerBar .menuToggleButton {
		float: right;
		color: #1c1c35;
		margin-right: 20px;
		background-color: white;
		margin-top: 4px;
}
